<a href="https://colab.research.google.com/github/andssuu/moncattle/blob/master/supervised/notebooks/ibk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/andssuu/moncattle.git

Cloning into 'moncattle'...
remote: Enumerating objects: 339, done.
remote: Counting objects: 100% (339/339), done.
remote: Compressing objects: 100% (263/263), done.
remote: Total 339 (delta 168), reused 129 (delta 54), pack-reused 0
Receiving objects: 100% (339/339), 3.19 MiB | 12.86 MiB/s, done.
Resolving deltas: 100% (168/168), done.

# Importação das bibliotecas

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

# Leitura da base de dados

In [44]:
df = pd.read_csv('moncattle/data/lomba.csv')
data = df[df.columns[1:10]]
#data_normalized = (data - data.min()) / (data.max() - data.min())
#ata_normalized = (data-data.mean())/data.std()
labels = df[df.columns[-1]]
mod_vector = np.sqrt(data.acc_x**2 + data.acc_y**2 + data.acc_z**2)
data["mod_vector"]=mod_vector
data.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

   acc_x  acc_y  acc_z  mag_x  ...  giro_x  giro_y  giro_z    mod_vector
0 -11889  11184 -17877  -1280  ...   -4013    1260     -31  24207.794323
1  -9144   8945 -11799  -1213  ...    -394    2278    -602  17402.360817
2   6391   9265 -11767    570  ...   -1072   -1094    1854  16283.347168
3  -1394  10206 -13229    671  ...     287    2253   -2760  16766.398331
4  -4864   5953 -10472    -84  ...   -7101    9206   -3595  12990.746283

[5 rows x 10 columns]

# KNN Classifier

In [47]:
data.head()

   acc_x  acc_y  acc_z  mag_x  ...  giro_x  giro_y  giro_z    mod_vector
0 -11889  11184 -17877  -1280  ...   -4013    1260     -31  24207.794323
1  -9144   8945 -11799  -1213  ...    -394    2278    -602  17402.360817
2   6391   9265 -11767    570  ...   -1072   -1094    1854  16283.347168
3  -1394  10206 -13229    671  ...     287    2253   -2760  16766.398331
4  -4864   5953 -10472    -84  ...   -7101    9206   -3595  12990.746283

[5 rows x 10 columns]

In [46]:
# sem padronização
clf = KNeighborsClassifier(n_neighbors=1, n_jobs=-1)
scores = cross_val_score(clf, data_normalized, labels, cv=10)
[print("{}-Fold: {:.2f}".format(k, score)) for k, score in enumerate(scores, 1)]
mean = np.mean(scores)
std = np.std(scores)
print("\tAcurácia média: {:.4f}".format(mean))
print("\tDesvio Padrão: {:}".format(std))

1-Fold: nan
2-Fold: nan
3-Fold: nan
4-Fold: nan
5-Fold: nan
6-Fold: nan
7-Fold: nan
8-Fold: nan
9-Fold: nan
10-Fold: nan
	Acurácia média: nan
	Desvio Padrão: nan

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Expected 2D array, got 1D array instead:
array=[28682.71231944 11202.552477   16114.47954481 ... 17367.13220425
 15182.48918985 11069.14454689].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Expected 2D array, got 1D array instead:
array=[24207.79432332 17402.36081685 16283.3471682  ... 17367.13220425
 15182.48918985 11069.14454689].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Expected 2D array, got 1D array instead:
array=[24207.79432332 17402.36081685 16283.3471682  ... 17367.13220425
 15182.48918985 11069.14454689].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Expected 2D array, got 1D array instead:
array=[24207.79432332 17402.36081685 16283.3471682  ... 17367.13220425
 15182.48918985 11069.14454689].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Expected 2D array, got 1D array instead:
array=[24207.79432332 17402.36081685 16283.3471682  ... 17367.13220425
 15182.48918985 11069.14454689].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Expected 2D array, got 1D array instead:
array=[24207.79432332 17402.36081685 16283.3471682  ... 17367.13220425
 15182.48918985 11069.14454689].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Expected 2D array, got 1D array instead:
array=[24207.79432332 17402.36081685 16283.3471682  ... 17367.13220425
 15182.48918985 11069.14454689].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Expected 2D array, got 1D array instead:
array=[24207.79432332 17402.36081685 16283.3471682  ... 17367.13220425
 15182.48918985 11069.14454689].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Expected 2D array, got 1D array instead:
array=[24207.79432332 17402.36081685 16283.3471682  ... 17367.13220425
 15182.48918985 11069.14454689].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Expected 2D array, got 1D array instead:
array=[24207.79432332 17402.36081685 16283.3471682  ... 15708.02377767
 18062.13663994 16662.18752145].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

  FitFailedWarning)

In [30]:
# sem padronização
clf = KNeighborsClassifier(n_neighbors=3)
scores = cross_val_score(clf, data_normalized, labels, cv=10)
[print("{}-Fold: {:.2f}".format(k, score)) for k, score in enumerate(scores, 1)]
mean = np.mean(scores)
std = np.std(scores)
print("\tAcurácia média: {:.4f}".format(mean))
print("\tDesvio Padrão: {:}".format(std))

1-Fold: 0.74
2-Fold: 0.75
3-Fold: 0.79
4-Fold: 0.81
5-Fold: 0.86
6-Fold: 0.74
7-Fold: 0.86
8-Fold: 0.72
9-Fold: 0.83
10-Fold: 0.78
	Acurácia média: 0.7887
	Desvio Padrão: 0.04834830110447634

In [19]:
# com padronização
clf = KNeighborsClassifier(n_neighbors=1)
scores = cross_val_score(clf, data_normalized, labels, cv=10)
[print("{}-Fold: {:.2f}".format(k, score)) for k, score in enumerate(scores, 1)]
mean = np.mean(scores)
std = np.std(scores)
print("\tAcurácia média: {:.4f}".format(mean))
print("\tDesvio Padrão: {:}".format(std))

1-Fold: 0.63
2-Fold: 0.75
3-Fold: 0.75
4-Fold: 0.80
5-Fold: 0.79
6-Fold: 0.74
7-Fold: 0.80
8-Fold: 0.74
9-Fold: 0.83
10-Fold: 0.72
	Acurácia média: 0.7538
	Desvio Padrão: 0.054135351428109005

In [16]:
# com padronização
clf = KNeighborsClassifier(n_neighbors=3)
scores = cross_val_score(clf, data_normalized, labels, cv=10)
[print("{}-Fold: {:.2f}".format(k, score)) for k, score in enumerate(scores, 1)]
mean = np.mean(scores)
std = np.std(scores)
print("\tAcurácia média: {:.4f}".format(mean))
print("\tDesvio Padrão: {:}".format(std))

1-Fold: 0.64
2-Fold: 0.75
3-Fold: 0.76
4-Fold: 0.82
5-Fold: 0.81
6-Fold: 0.74
7-Fold: 0.83
8-Fold: 0.75
9-Fold: 0.83
10-Fold: 0.73
	Acurácia média: 0.7677
	Desvio Padrão: 0.056429320026297365